%div{:id => "formProg"}
  %div{:id => "pBar", :class => "progress progress-warning progress-striped"}
    %div{:id => "pBar2", :class => "bar", :style => "width: 66%"}
  #step= partial 'orders/step', :locals => {:s => "Process Payment", :c => "previous", :dot => "/images/orangeDot.png"}
  #step= partial 'orders/step', :locals => {:s => "Setup Server", :c => "current", :dot => "/images/whiteDot.png"}
  #step= partial 'orders/step', :locals => {:s => "Done", :c => "next", :dot => "/images/whiteDot.png"}

= form_for :server, url(:servers, :create) do |f2|
  %article
    %p
      = f2.label :ServerName, :caption => "Server Name"
      = f2.text_field :serverName

    %p
      = f2.label :ServerPass, :caption => "Server Password"
      = f2.text_field :serverPassword

    %p
      = f2.label :SuperUserPassword, :caption => "SuperUser Password"
      = f2.text_field :superUserPassword
    %p
      = f2.submit "Submit", :class => 'btn btn-primary'
