- @title = @server.name
%h2= "Server - " + @server.name
%table{:padding => "20px"}
  %tr
    %td{:width => "200px"}
      %b= "Server"
    %td{:width => "700px"}= @server.name
  %tr
    %td
      %b= "IP"
    %td= @server.ip
  %tr
    %td
      %b= "expires"
    %td= @server.expires
  %tr
    %td
      %b= "Configuration"
    %td
      %a{:href => "/server_configs/show/" + @server.id.to_s}
        %span{:class => "label label-info"} Edit
  %tr
    - if (@server.subscriptionId != nil)
      %td{:height => "35px"}
        %a{:href => "/servers/endSubscription/" + @server.id.to_s}
          %span{:id => "cartBubble", :class => "label label-danger"} End Subscription
