- @title = @user.username + "'s Profile"
%h2= "User Profile"
%table{:padding => "20px"}
  %tr
    %td{:width => "100px"}
      %b= "Username"
    %td{:width => "200px"}= @user.username
  %tr
    %td
      %b= "Email"
    %td= @user.email
%hr
%h2= "My Servers"
%table{:padding => "20px", :border => "1px", :width => "100%"}
  %tr
    %th{:width => "100px"}="Name"
    %th{:width => "100px"}="ID"
    %th{:width => "100px"}="IP"
    %th{:width => "100px"}="Port"
    %th{:width => "100px"}= "Slots"
    %th{:width => "100px"}= "Password"
    %th{:width => "100px"}= "Software"
  - @servers.each do |server|
    %tr
      %td
        %a{:href => "/servers/show/#{server.id}"}= server.name
      %td= server.id
      %td= server.ip
      %td= server.port
      %td= server.slots
      %td= server.password
      %td= server.software
