%h1 ServerNodes
%table{:padding => "20px", :border => "1px", :width => "100%"}
  %tr
    %th{:width => "100px"}="Id"
    %th{:width => "100px"}="City"
    %th{:width => "100px"}="State"
    %th{:width => "100px"}= "RAM"
  - @serverNodes.each do |serverNode|
    %tr
      %td= serverNode.id
      %td= serverNode.city
      %td= serverNode.state
      %td= serverNode.ram
