%h2 ServerNodes

%table{:padding => "20px", :border => "1px", :width => "100%"}
  %tr
    %th{:width => "100px"}="Id"
    %th{:width => "100px"}="IP"
    %th{:width => "100px"}="City"
    %th{:width => "100px"}="State"
    %th{:width => "100px"}= "RAM"
    %th{:width => "100px"}= "Used Memory"
    %th{:width => "100px"}= "Free"
    %th{:width => "100px"}= "Total"
  - @serverNodes.each do |serverNode|
    //- var = get_node_status(serverNode.ip)
    %tr
      %td{:align => "center"}= serverNode.id
      %td{:align => "center"}= serverNode.ip
      %td{:align => "center"}= serverNode.city
      %td{:align => "center"}= serverNode.state
      %td{:align => "center"}= serverNode.ram
      //%td{:align => "center"}= var["percentFree"]
      //%td{:align => "center"}= var["free"]
      //%td{:align => "center"}= var["total"]
