%table{:width => "500px"}
  %tr
    %td{:id => "sName0"}
    %td{:id => "sName"}
  %tr
    %td{:id => "sPass0"}
    %td{:id => "sPass"}
  %tr
    %td{:id => "sUPass0"}
    %td{:id => "sUPass"}
  %tr
    %td{:id => "sSlots0"}
    %td{:id => "sSlots"}
  %tr
    %td{:id => "price0"}
    %td{:id => "price"}

%hr
= form_for :order, url(:cart, :addProduct) do |f2|

  = f2.label :name, :caption => "Server Name"
  = f2.text_field :name, :id => "name"
  %br
  = f2.label :ServerPass, :caption => "Server Password"
  = f2.text_field :password, :id => "pass"
  %br
  = f2.label :SuperUserPassword, :caption => "SuperUser Password"
  = f2.text_field :superUserPassword, :id => "UPass"
  %br
  = f2.label :nSlots, :caption => "Number of Slots"
  = f2.number_field :nSlots, :min => 5, :max => 500, :id => "nSlots"
  %br
    = f2.submit "Add to Cart", :class => 'btn btn-primary'
