%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= ["MumblePlot", @title].compact.join(" || ")
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', 'style'
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button", "data-target" => "#navbar", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} MumblePlot
        %div.navbar-collapse.collapse{:id => "navbar"}
          %ul.nav.navbar-nav
            %li
              %a{:href => "/orders/services"}
                Order
            %li
              %a{:href => "/static_pages/about"} About
          %ul.nav.navbar-nav.navbar-right
            - if(signed_in?)
              - if(Message.where(userId: current_user.id, notify: true).count > 0)
                %li
                  %a{:href => "#"}
                    Notify
                    %span{:id => "cartBubble", :class => "label label-danger"}
                      = Message.count(:conditions => {:notify => true})
            - if !Cart.new(session[:cart]).empty
              %li
                %a{:href => "/cart/index"}
                  Cart
                  %span{:id => "cartBubble", :class => "label label-primary"}
                    = Cart.new(session[:cart]).count
            %li.dropdown
              - if signed_in?
                %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                  = current_user.displayName
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "/users/show/" + current_user.username} My Account
                  - if current_user.admin == true
                    %li
                      %a{:href => "/server_nodes/index"} Server Nodes
                    %li
                      %a{:href => "/users/index"} Users
                  %li
                    %a{:href => "/logout"} Logout
              - else
                %li
                  %a{:href => "/login"} Login
                %li
                  %a{:href => "/users/new"} Register

          / /.nav-collapse
    %div{:class => "container theme-showcase", :role => "main"}
      / Main hero unit for a primary marketing message or call to action
      .jumbotron
        #main= yield
      %footer
        %div{:id => "wr1"}
          %div{:id => "cName"}
            &copy; 2014 Spiers Computing LLC
          %div{:id => "stripeTag"}
            %img{:src => "/images/solid.png"}
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster

    %script{:src => "/javascripts/bootstrap.js"}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/dropdown.js"}
    %script{:src => "https://js.stripe.com/v2/"}
    %script{:src => "/javascripts/orderForm.js"}
    %script{:src => "/javascripts/form.js"}
    %script{:src => "/javascripts/slideToggle.js"}
    %script{:src => "/javascripts/jquery.formatCurrency-1.4.0.min.js"}
